h1{
    color: cyan;
}
nav{
    background-color: black;
}
.texto{
    color: magenta;
}
button{
    background-color: transparent;
    border-color: transparent;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}